*~
/auto-save-list/*
/elpa/*
/tramp
/url/cookies
/abbrev_defs
/.org-id-locations
/.#emacs.el
/#emacs.el#
/calibre-mode
/url
/annex-mode.el
/anything-c-adaptive-history
\#*
/ac-comphist.dat
#symlinks, tracked elsewhere
local/ob-diagrams.el
/local/dmb-passwords.el
/emms/
/request/
/semanticdb/
/var/
/git-checkouts/
/TAGS
/games/tetris-scores
*.elc
bookmarks
emacs.bmk
/.trello/
/ido.last
snippets/*/.yas-compiled-snippets.el
