/xmonad/.xmonad/xmonad-x86_64-linux
/xmonad/.xmonad/xmonad.errors
/imm/.config/imm/state/
*~
/xmonad/.xmonad/xmonad
/imm/.config/imm/imm
*.hi
*.o
/imm/.config/imm/Setup
TAGS
*~
/auto-save-list/*
/elpa/*
/emacs/tramp
/url/cookies
/abbrev_defs
/.org-id-locations
/.#emacs.el
/#emacs.el#
/calibre-mode
/url
/annex-mode.el
/anything-c-adaptive-history
\#*
/ac-comphist.dat
#symlinks, tracked elsewhere
local/ob-diagrams.el
dmb-passwords.el
/emacs/emms/
/request/
/semanticdb/
/var/
/emacs/git-checkouts/
/TAGS
/games/tetris-scores
*.elc
bookmarks
emacs.bmk
/.trello/
/ido.last
snippets/*/.yas-compiled-snippets.el
/snippets/typescript-mode/
/recentf
/emacs/eshell/lastdir
/emacs/eshell/history
/history
/emacs/emojis
/emacs/nov-places
/emacs/url/cookies
/emacs/projectile-bookmarks.eld
